body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wizard-fade-enter {
    opacity: 0.01;
  }
  
.wizard-fade-enter.wizard-fade-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.wizard-fade-leave {
  opacity: 1;
}

.wizard-fade-leave.wizard-fade-leave-active {
  opacity: 0;
  transition: opacity 100ms ease-in;
}

.calculator-fade-enter {
  opacity: 0.01;
}

.calculator-fade-enter.calculator-fade-enter-active {
  opacity: 1;
  transition: opacity 400ms ease-in;
}

.calculator-fade-leave {
  opacity: 1;
}

.calculator-fade-leave.calculator-fade-leave-active {
  opacity: 0;
  transition: opacity 100ms ease-in;
}